.back {
    width: calc(var(--icon-size) * 0.54);
    height: calc(var(--icon-size) * 0.54);
    border-radius: 32px;
    user-select: none;
    cursor: pointer;
    backdrop-filter: blur(8px);
}

.back svg :global(path.circle) {
    fill: transparent;
    stroke: var(--theming-secondary-text-color);
}

.back svg :global(path.arrow) {
    fill: var(--theming-secondary-text-color);
}

.back:hover svg :global(path.circle) {
    fill: var(--theming-button-primary-fill-hover);
    stroke: var(--theming-button-primary-fill-hover);;
}

.back:hover svg :global(path.arrow) {
    fill: var(--theming-primary-text-color);
}

@media (max-aspect-ratio: 1/1) {
    .back {
        position: absolute;
        left: var(--padding-sides);
        top: calc(-100svh + var(--sections-rail-height) + var(--gap-l));
    }
}
