.back {
    width: calc(var(--icon-size) * 0.54);
    height: calc(var(--icon-size) * 0.54);
    border-radius: 32px;
    user-select: none;
    cursor: pointer;
    backdrop-filter: blur(8px);
}

.back:hover svg :global(path.circle) {
    fill: #6201eb;
    stroke: #6201eb;
}

.back:hover svg :global(path.arrow) {
    fill: #fff;
}

@media (max-aspect-ratio: 1/1) {
    .back {
        position: absolute;
        left: var(--padding-sides);
        top: calc(-100svh + var(--sections-rail-height) + var(--gap-l));
    }
}
