.emotes {
    position: absolute;
    bottom: calc(var(--gap-l) * 3 + 2px);
    right: 80px;
    width: var(--icon-size);
    height: var(--icon-size);
    user-select: none;
    transition: right 100ms, opacity 100ms;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
    border-radius: 50px;
    backdrop-filter: blur(8px);
}

.active {
    width: auto;
}

.icon {
    display: inline-block;
    width: var(--icon-size);
    text-align: center;
    line-height: var(--icon-size);
    font-size: calc(var(--icon-size-inner));
    transition: transform 50ms;
    transform: scale(1, 1);
    cursor: pointer;
    border-radius: 40px;
    counter-increment: count 1;
}

.icon:hover {
    transform: scale(1.3, 1.3);
}


@media (max-aspect-ratio: 1/1) {
    .emotes {
        right: var(--padding-sides);
        bottom: calc(var(--sections-rail-height) + var(--gap-m));
        width: var(--icon-size);
        height: var(--icon-size);
    }

    .active {
        width: auto;
    }

    .hidden {
        right: calc(var(--icon-size) * -1) !important;
        width: var(--icon-size) !important;
        opacity: 0;
    }

    .icon {
        width: var(--icon-size);
        line-height: var(--icon-size);
        font-size: calc(var(--icon-size-inner));
    }
}

@media (min-aspect-ratio: 1/1) {
    .emotes {
        bottom: calc(var(--gap-l) * 2);
    }
}