.logo {
    position: absolute;
    top: 56px;
    left: -72px;
    opacity: 0;
    transition:
        left 100ms,
        opacity 100ms;
}

.logoVisible {
    left: 80px;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    .logoVisible {
        left: 30px;
    }
    
    .logo {
        top: 30px;
    }
} 
