.skin h2 {
    position: relative;
    border-bottom: 1px solid var(--theming-secondary-text-color);
    font-weight: normal;
    font-size: var(--section-title-font-size);
    padding-bottom: var(--section-title-padding-bottom);
    margin: var(--gap-m) 0 var(--gap-s) 0;
    color: var(--theming-secondary-text-color);
}

.skin ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.skin ul li {
    position: relative;
    float: left;
    width: var(--icon-size);
    height: var(--icon-size);
    margin: var(--gap-xs);
    overflow: hidden;
    background-image: url("../assets/img/button-slot-normal.svg");
    background-size: cover;
    backdrop-filter: blur(8px);
    mask-image: url("../assets/img/button-slot-mask.svg");
    mask-size: cover;
    cursor: pointer;
}

.skin ul li:hover {
    background-image: url("../assets/img/button-slot-hover.svg");
}

.skin ul li.loading::after {
    content: "\00a0";
    position: absolute;
    top: calc(50% - (var(--spinner-size) / 2));
    left: calc(50% - (var(--spinner-size) / 2));
    width: var(--spinner-size);
    height: var(--spinner-size);
    border: var(--spinner-border) solid var(--theming-spinner-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spinRotation 1s linear infinite;
}

.skin ul li.active {
    background-image: url("../assets/img/button-slot-hover.svg");
}

.skin ul li img {
    border-radius: 100px;
    margin: var(--gap-s);
    width: calc(100% - (var(--gap-s) * 2));
    padding: 0;
    mask-image: none;
}

@media (max-aspect-ratio: 1/1) {
    .skin h2 {
        margin-top: 0;
        color: var(--theming-secondary-text-color);
    }

    .skin ul {
        display: grid;
        grid-auto-flow: column dense;
        grid-template-rows: var(--icon-size) var(--icon-size);
    }

    .skin ul li {
        width: var(--icon-size);
        height: var(--icon-size);
    }
}

@keyframes spinRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
