.slotItem {
    position: relative;
    float: left;
    width: calc(100% / 3 - 4px - 4px);
    margin: 2px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-image: url("../assets/img/button-slot-normal.svg");
    background-size: cover;
    backdrop-filter: blur(8px);
    mask-image: url("../assets/img/button-slot-mask.svg");
    mask-size: cover;
    cursor: pointer;
}

.slotItem:hover {
    background-image: url("../assets/img/button-slot-hover.svg");
}

.slotItem.loading::after {
    content: "\00a0";
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border: 5px solid var(--color-spinner);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spinRotation 1s linear infinite;
}

.slotItem.active {
    background-image: url("../assets/img/button-slot-hover.svg");
}

.slotItem img {
    width: calc(100% - 4px);
    padding: 2px;
    user-select: none;
    mask-image: url("../assets/img/button-mask.svg");
    mask-size: cover;
}

@keyframes spinRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {
    .slotItem {
        width: 72px;
        height: 72px;
    }
} 
