.slotItem {
    position: relative;
    float: left;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: hidden;
    background-size: cover;
    backdrop-filter: blur(8px);
    cursor: pointer;

    stroke: var(--theming-slot-button-normal-stroke);
    fill: var(--theming-slot-button-normal-fill);
}

.slotItem:hover {
    stroke: var(--theming-slot-button-hover-stroke);
    fill: var(--theming-slot-button-hover-fill);
}

.slotItem.loading::after {
    content: "\00a0";
    position: absolute;
    top: calc(50% - (var(--spinner-size) / 2));
    left: calc(50% - (var(--spinner-size) / 2));
    width: var(--spinner-size);
    height: var(--spinner-size);
    border: var(--spinner-border) solid var(--theming-spinner-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: spinRotation 1s linear infinite;
}

.slotItem.active {
    stroke: var(--theming-slot-button-hover-stroke);
    fill: var(--theming-slot-button-hover-fill);
}

.slotItemImage {
    user-select: none;
    object-fit: cover;
}

.slotSkinMask {
    user-select: none;
    border-radius: 50%;
    object-fit: cover;
    clip-path: circle(50%);
}

@keyframes spinRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-aspect-ratio: 1/1) {
    .slotItem {
        width: var(--icon-size);
        height: var(--icon-size);
    }
}
