:root {
  --color-drop: rgba(108, 0, 244, 0.5); /* This is the color of the sections when it is a drop target */

  /* Spinner color */
  --theming-spinner-color: #fff;
  --spinner-size: 64px;
  --spinner-border: 5px;

  /* Default scale assumes large. */
  --icon-size: 96px;
  --icon-size-inner: 64px;
  --gap-xs: 4px;
  --gap-s: 8px;
  --gap-m: 16px;
  --gap-l: 24px;
  --padding-sides: 20px;
  --title-font-size: 48px;
  --section-title-font-size: 32px;
  --section-title-padding-bottom: 8px;
  --section-grid-item-size: 96px;
  --sections-rail-height: 400px;
  --section-menu-width: 450px;
  --customize-button-font-size: 48px;

  /* Slot button background and borders */
  --theming-slot-button-normal-fill: rgba(0, 0, 0, 0.15);
  --theming-slot-button-normal-stroke: rgba(0, 0, 0, 0.0);
  --theming-slot-button-hover-stroke: rgb(108, 0, 244);
  --theming-slot-button-hover-fill: rgba(108, 0, 244, 0.5);

  /* Icon colors */
  --theming-icon-color-normal: #cba6ff;
  --theming-icon-color-hover: #fff;
  --theming-icon-color-selected: #fff;

  /* Section button background and borders */
  --theming-section-button-normal-fill: rgba(0, 0, 0, 0.15);
  --theming-section-button-normal-stroke: rgba(203,166,255,0.5);
  --theming-section-button-hover-fill: rgb(108,0,244);
  --theming-section-button-hover-stroke: rgb(108,0,244);
  --theming-section-button-selected-fill: rgb(108,0,244);
  --theming-section-button-selected-stroke: rgb(108,0,244);

  --theming-primary-text-color: #ffffff;
  --theming-secondary-text-color: #cba6ff;

  /* Button theming variables */
  --theming-button-primary-fill: #6201eb;
  --theming-button-primary-stroke: #6201eb;
  --theming-button-primary-text-color: #ffffff;
  --theming-button-primary-icon-color: #ffffff;
  --theming-button-primary-text-color-hover: #ffffff;
  --theming-button-primary-icon-color-hover: #ffffff;
  --theming-button-secondary-fill: #000000;
  --theming-button-secondary-stroke: #cba6ff;
  --theming-button-secondary-text-color: #ffffff;
  --theming-button-secondary-icon-color: #cba6ff;
  --theming-button-secondary-text-color-hover: #ffffff;
  --theming-button-secondary-icon-color-hover: #ffffff;
} 

/* Medium breakpoint overrides. */
@media (max-width: 960px) or (max-height: 960px) {
  :root {
    --icon-size: 64px;
    --icon-size-inner: 48px;
    --spinner-size: 48px;
    --gap-xs: 3px;
    --gap-s: 8px;
    --gap-m: 14px;
    --gap-l: 20px;
    --padding-sides: 16px;
    --title-font-size: 28px;
    --section-title-font-size: 20px;
    --section-title-padding-bottom: 6px;
    --section-grid-item-size: 72px;
    --sections-rail-height: 290px;
    --section-menu-width: 320px;
    --customize-button-font-size: 36px;
}
}

/* Landscape vs portrait flags for layout. */
@media (orientation: portrait) {
  :root {
    --layout-orientation: portrait;
  }
}
@media (orientation: landscape) {
  :root {
    --layout-orientation: landscape;
  }
}
