:root {
  --color-primary: #cba6ff;
  --color-secondary: #6c00f4;
  --color-drop: rgba(108, 0, 244, 0.5);
  --color-spinner: #fff;
  --button-background: rgba(0, 0, 0, 0.5);
  --button-background-active: #6c00f4;
  --button-background-hover: rgba(108, 0, 244, 0.5);
  --button-border: 2px solid #a07fc6;
  --button-border-color-hover: var(--button-background-active);
  --button-border-radius: 24px 4px 24px 4px;
  /* Responsive scales. */
  --breakpoint-small: 640px;
  --breakpoint-medium: 1024px;

  /* Default scale assumes large. */
  --icon-size: 96px;
  --icon-size-inner: 64px;
  --spinner-size: 64px;
  --spinner-border: 5px;
  --gap-xs: 4px;
  --gap-s: 8px;
  --gap-m: 16px;
  --gap-l: 24px;
  --padding-sides: 20px;
  --title-font-size: 48px;
  --section-title-font-size: 32px;
  --section-title-padding-bottom: 8px;
  --section-grid-item-size: 96px;
  --sections-rail-height: 400px;
  --section-menu-width: 450px;
  --customize-button-font-size: 48px;
} 

/* Medium breakpoint overrides. */
@media (max-width: 960px) or (max-height: 960px) {
  :root {
    --icon-size: 64px;
    --icon-size-inner: 48px;
    --spinner-size: 48px;
    --gap-xs: 3px;
    --gap-s: 8px;
    --gap-m: 14px;
    --gap-l: 20px;
    --padding-sides: 16px;
    --title-font-size: 28px;
    --section-title-font-size: 20px;
    --section-title-padding-bottom: 6px;
    --section-grid-item-size: 72px;
    --sections-rail-height: 290px;
    --section-menu-width: 320px;
    --customize-button-font-size: 36px;
}
}

/* Landscape vs portrait flags for layout. */
@media (orientation: portrait) {
  :root {
    --layout-orientation: portrait;
  }
}
@media (orientation: landscape) {
  :root {
    --layout-orientation: landscape;
  }
}
